
.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: url('http://lorempixel.com/g/1920/500/sports') no-repeat center center scroll;
    padding: 100px 0;
}

.img-center {
	margin: 0 auto;
}