body {
	background-color: #7777ff;
	color: white;
	margin:0px;
	font-size:100%;
	text-align:center;
}


header {
	text-align: left;
	height: 5em;
	min-width: 15em;
	background-color: #333377;
	font-size:1.3em;
}

header h1 {
	float: left;
	padding-top: 0.3em;
	margin:0px;
	max-width:70%;
}


footer {
	background-color: #333377;
	width: 100%;
	height: 3em;
	margin: 0;
}

nav {
	display:inline-block;
	vertical-align: middle;
	height: 60%;
}

nav a {
	color: white;
	background-color: #6666aa;
	display: inline-block;
	min-width: 6em;
	height: 100%;
	text-decoration: none;
	text-align: center;
	line-height:3em;
	/*margin: 0;*/
}

nav a:visited {
	color: #883388;
}

nav a:hover {
	text-decoration: underline;	
}

nav a:active {
	border: none;	
}

img.logo {
	display: inline-block;
	max-height: 100%;
	max-width: 30%
	padding-right: 0.5em;
	vertical-align: middle;
}

br.clear {
	clear: both;
}

section {
	display:inline-block;
	margin:1em;
	width: 20em;
	height:15em;
	overflow:auto;
	border: 1px solid black;
	padding:1em;
	text-align: justify;
	vertical-align:top;
}

section img {
	width: 100%;
}
